header {
    background-color:#eaeaea; 
    padding:
    color:#F2b705;
    display: flex;
}
header span
{color:#024873;  
font-size: 1.6rem;
font-weight: 700;    
margin-top: 2.5rem;  
margin-left: 0rem;    
}


nav{
background-color: #F2b705;    
}
nav ul{
    margin:0;
    padding:10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding:1rem;
    text-decoration:none;
    font-size: 1.5rem;
    color: #024873;
    font-weight: 700;
    text-decoration: underline;
}

nav li.active a {
    background-color:#F2b705;
    color:#024873;
    display: flex;
   
}

nav li a:hover {
    color:white;
    font-size: 2rem;   
}

main {
padding:.5rem 1px;    
}

main h1{
    color:#024873;
}
main h2{
    color: #024873;
    margin-bottom: .2rem;
    text-align: left;
    padding-top: 2rem;
}
main h3{
    color:#024873;
}
main h4{
color:  #024873;  
    
}
main p{
    margin: 0;
    color: #333;
}
main ol{
    padding:.5rem 30px;
    background-color:azure;
}
main dl dt{
   color:#024873 ;
    font-weight: 700;
    margin-top: 1rem;

}
main dl dd{
   color: #024873;
    font-size: 1rem;
    margin-left: 2-px;
}
main ul{
    list-style-type: ;
    color:#024873;
}
    main ul li {    
    line-height: 125%;
    margin-bottom: .5rem;
    font-size:1rem
}
main strong{
    font-weight: 700;
    color: black;
}
main em{
    font-weight: 300;
}
main address{
    font-style: normal;
    background-color:#F2b705;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #024873;
    width: 200px;
}
main a{
    color: #024873
}
main dd{
color: #024873; 
text-align:left    
  
}
main p{
color: #024873;
padding-left: 2rem;    
}
main 


main a:hover{
color: rgb(180,4,18);
}
div.gallery{
display:flex;
flex-wrap: wrap  

    
    
}
div.gallery figure{
    margin: .5rem 2% 0 0;
    text-align: center
}
div.gallery figcaption {
display:flex;
flex-wrap: .8rem;
color:#F2b705;
text-align: center;    
}

main feildset{
border-color: red;    
    
    
}
.myForm [type=submit] {
background-color:#024873;     
border: none;    
padding: 1rem 2rem;
border-radius: 10px;
color:white;
margin: 1rem 0 0 1vw;
}
.myForm label{
display:;  
    
}

.myForm textarea{
height: 6rem;
border: solid 3px;
margin-top: 3px; 
border-color: #024873;    
    
}


.myForm fieldset{
border-color:#024873;     
    
}

table.our-activities{
width:100%;
border-collapse: collapse;    
}
table.our-activities th {
background-color: #3179af;    
color: white;
padding: .5rem 2vw;
text-align:left;    
    
}
table.our-activities td{
color:#024873;
padding: .4rem 2vw;    
}
table.our-activities tr:nth-child(odd){
background-color: #f7f7f7;   
}
table.our-activities tr:hover {
background-color: rgba(84,105,31,0.2);     
}
main iframe{
padding-bottom: 2rem;  
padding-top:2rem;    
    
}
main table {
    
    
}




footer{
    text-align: center;
    padding: 1rem 0;
    font-size:,8rem;
    color: #333;

}
footer p{
    margin:0;
    font-size:.8rem;
    color: #333;
    letter-spacing: 3px;
    text-align: center;
    margin top: 1rem;
}
